# =============================
# Python cache files
# =============================
__pycache__/
*.py[cod]
*$py.class

# =============================
# Virtual environments
# =============================
venv/
env/
ENV/
.venv/

# =============================
# Model files (DO NOT push)
# =============================
*.h5
*.pkl
*.joblib
*.model

# =============================
# Dataset files (optional)
# =============================
Fake.csv
True.csv
*.csv

# =============================
# Streamlit cache
# =============================
.streamlit/

# =============================
# TensorFlow / logs
# =============================
logs/
*.log

# =============================
# Jupyter
# =============================
.ipynb_checkpoints/

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db

# =============================
# VS Code
# =============================
.vscode/

# =============================
# Python environment files
# =============================
pip-log.txt
pip-delete-this-directory.txt